<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.scwang.refreshlayout">

    <uses-sdk tools:overrideLibrary="com.github.czy1121.loadinglayout" />

    <!-- 读取SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 设备编号权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Initiate.InitiateActivity"></activity>
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewPager.ViewPagerActivity" />
        <activity
            android:name=".activity.FragmentActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".countDown.CountdownActivity" />
        <activity android:name=".activity.Award.MainActivity" />
        <activity
            android:name=".activity.Award.ClassicsStyleActivity"
            android:label="@string/title_activity_style_classics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Award.FunGameBattleCityStyleActivity"
            android:label="@string/title_activity_style_battle_city"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Award.FunGameHitBlockStyleActivity"
            android:label="@string/title_activity_style_hit_block"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Award.addAwardActivity"
            android:label="addAward"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Mine.BasicExampleActivity"
            android:label="@string/title_activity_example_basic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Mine.AssignDefaultExampleActivity"
            android:label="@string/title_activity_example_assign_default"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Mine.AssignXmlExampleActivity"
            android:label="@string/title_activity_example_assign_xml"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Mine.LoginActivity"
            android:label="@string/title_activity_example_assign_xml"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Mine.RegisterActivity"
            android:label="@string/title_activity_example_assign_xml"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Mine.AssignCodeExampleActivity"
            android:label="@string/title_activity_example_assign_code"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Task.DayTaskActivity"
            android:label="@string/title_activity_practice_repast"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Task.ProfilePracticeActivity"
            android:label="@string/title_activity_practice_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Task.BannerPracticeActivity"
            android:label="@string/title_activity_practice_banner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Mine.SnapHelperExampleActivity"
            android:label="@string/title_activity_example_snap_helper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IndexMainActivity"
            android:label="@string/title_activity_index_main" />
        <activity android:name=".activity.Task.addDayTaskActivity" />
        <activity android:name=".activity.Task.ModifyDayTaskActivity" />
        <activity android:name=".activity.Task.addWeekTaskActivity"></activity>
    </application>

</manifest>